@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    min-width: 0;
    transition: all 0.35s ease-in-out;
}

/* Sidebar */
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    background-color: #003396;
    display: flex;
    flex-direction: column;
    transition: all .25s ease-in-out;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0;
}

.sidebar-logo-img {
    width: 110px;
    max-height: auto;
    margin-right: 20px;
}

.sidebar-logo-img2 {
    width: 70px;
    min-height: auto;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) .sidebar-logo-img,
#sidebar:not(.expand) .sidebar-logo-img2 {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

.three-item {
    margin-top: 100px;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Navbar */
.navbar {
    background-color: #fff;
/*     box-shadow: 0 0 2rem rgba(33, 37, 41, .1); */
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.navbar-nav form {
    margin-right: 40px;
}

.nav-item .nav-icon {
    color: #000;
}

.nav-item .nav-icon .notif{
    font-size: 1.3rem;
    margin-right: 40px;
    margin-top: 5px;
}

.nav-item .nav-icon .alarm{
    font-size: 1.3rem;
    margin-right: 40px;
    margin-top: 5px;
}

.dropdown-menu.dropdown-menu-end.rounded {
    animation: fadeIn 0.3s ease-in-out;
    background-color: #004be0;
}

.dropdown-menu a {
    color: #fff;
}

.avatar {
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid;
}

.input-group-navbar .form-control {
    border: 1.7px solid black;
    color: #3e4455;
    z-index: 1000;
}

.input-group-navbar .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255);
}

.form-control::placeholder {
    background-color: #fff;
}

.input-group-navbar .btn {
    background-color: #004be0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    left: -10px;
    padding: 0 10px 0 20px;
    border: 1.7px solid black;
}

.dropdown-menu.dropdown-menu-end.rounded {
    animation: fadeIn 0.3s ease-in-out;
    background-color: #004be0;
}

.dropdown-menu a {
    color: #fff;
}


/* Main */

.card {
    background-color: #e7effd;
    transition: .4s;
    cursor: pointer;
    color: #000;
    margin-bottom: 1rem;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    height: 350px;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-10.5px);
}

.card-body {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-body h2 {
    font-weight: 900;
    color: #003396;
}

.card-body img {
    width: 60px;
    height: auto;
}

.card-body canvas {
    width: 200px !important;
    height: 200px !important;
}

.time-info {
    justify-content: space-between;
    width: 100%;
}

.time-info span {
    font-size: 14px;
    margin: 0 5px;
}

.time-info .aa {
    color: #165baa;
}

.time-info .bb {
    color: #f765a3;
}

.time-info .cc {
    color: #e697ff;
}

.time-info .dd {
    color: #2d9cdb;
}

.time-info .ee {
    color: #a155b9;
}

.time-info .ff {
    color: #e13760;
}

/* Grafik Peserta */
.graphBox {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 400px;
}

.graphBox .box {
    position: relative;
    background: #e7effd;
    width: 100%;
    padding: 40px 0;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.graphBox .box canvas {
    max-width: 80% !important;
    max-height: 400px;
}

/* Review */
.revBox {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 400px;
}

.revBox .rBox {
    position: relative;
    background: #e7effd;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.revBox .rBox .box-profil {
    display: flex;
    align-items: center;
}

.revBox .rBox .box-profil p {
    font-size: 14px;
    margin: 0;
}

.revBox .rBox .box-profil img {
    margin-right: 15px;
}

.revBox .rBox button {
    background: #004be0;
}

.revBox .rBox button:hover {
    background: transparent;
    color: #000;
    border-color: #000;
}

.content {
    flex: 1 1 auto;
}

.content h1 {
    font-weight: bolder;
    font-size: 35px;
}

.footer {
    background-color: #f5f5f5;
    padding: 1rem .875rem;
}

@media (max-width: 768px) {
    .graphBox .box canvas {
        width: 250px !important;
        height: 200px !important;
    }

    #sidebar.expand {
        min-width: 390px;
    }

    .main .navbar h2 {
        display: none;
    }
}